openapi: 3.0.2
info:
  title: Render Public Audit Logs Registry Credentials API
  description: Manage everything about your Render services
  version: 1.0.0
  contact:
    name: Render API
    url: https://community.render.com
    email: support@render.com
servers:
- url: https://api.render.com/v1
security:
- BearerAuth: []
tags:
- name: Registry Credentials
  description: '[Registry Credentials](https://render.com/docs/deploying-an-image#credentials-for-private-images) allows you to manage credentials for private Docker images.

    '
paths:
  /registrycredentials:
    get:
      summary: List registry credentials
      description: 'List registry credentials matching the provided filters. If no filters are provided, returns all registry credentials you have permissions to view.

        '
      operationId: list-registry-credentials
      tags:
      - Registry Credentials
      parameters:
      - name: name
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
        description: Filter for the name of a credential
      - name: username
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
        description: Filter for the username of a credential
      - name: type
        in: query
        schema:
          type: array
          items:
            $ref: '#/components/schemas/registryCredentialRegistry'
        style: form
        explode: false
        required: false
        description: Filter for the registry type for the credential
      - name: createdBefore
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: Filter for services created before a certain time (specified as an ISO 8601 timestamp)
        example: '2021-06-17T08:15:30Z'
      - name: createdAfter
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: Filter for services created after a certain time (specified as an ISO 8601 timestamp)
        example: '2021-02-17T08:15:30Z'
      - name: updatedBefore
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: Filter for services updated before a certain time (specified as an ISO 8601 timestamp)
        example: '2021-06-17T08:15:30Z'
      - name: updatedAfter
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: Filter for services updated after a certain time (specified as an ISO 8601 timestamp)
        example: '2021-02-17T08:15:30Z'
      - $ref: '#/components/parameters/ownerIdParam'
      - $ref: '#/components/parameters/cursorParam'
      - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/registryCredential'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    post:
      summary: Create registry credential
      description: Create a new registry credential.
      operationId: create-registry-credential
      tags:
      - Registry Credentials
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - registry
              - username
              - authToken
              - ownerId
              properties:
                registry:
                  $ref: '#/components/schemas/registryCredentialRegistry'
                name:
                  type: string
                username:
                  type: string
                authToken:
                  type: string
                ownerId:
                  type: string
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registryCredential'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '402':
          $ref: '#/components/responses/402PaymentRequired'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '409':
          $ref: '#/components/responses/409Conflict'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /registrycredentials/{registryCredentialId}:
    parameters:
    - name: registryCredentialId
      in: path
      required: true
      description: The ID of the registry credential
      schema:
        type: string
    get:
      summary: Retrieve registry credential
      description: Retrieve the registry credential with the provided ID.
      operationId: retrieve-registry-credential
      tags:
      - Registry Credentials
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registryCredential'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    patch:
      summary: Update registry credential
      description: Update the registry credential with the provided ID. Services that use this credential must be redeployed to use updated values.
      operationId: update-registry-credential
      tags:
      - Registry Credentials
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - registry
              - username
              - authToken
              properties:
                registry:
                  $ref: '#/components/schemas/registryCredentialRegistry'
                name:
                  type: string
                username:
                  type: string
                authToken:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registryCredential'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '402':
          $ref: '#/components/responses/402PaymentRequired'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    delete:
      summary: Delete registry credential
      description: Delete the registry credential with the provided ID.
      operationId: delete-registry-credential
      tags:
      - Registry Credentials
      responses:
        '204':
          description: Registry credential deleted
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
components:
  parameters:
    ownerIdParam:
      name: ownerId
      in: query
      description: The ID of the workspaces to return resources for
      schema:
        type: array
        items:
          type: string
      style: form
      explode: false
      required: false
    limitParam:
      name: limit
      in: query
      required: false
      description: The maximum number of items to return. For details, see [Pagination](https://api-docs.render.com/reference/pagination).
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
        description: Defaults to 20
    cursorParam:
      name: cursor
      in: query
      required: false
      description: The position in the result list to start from when fetching paginated results. For details, see [Pagination](https://api-docs.render.com/reference/pagination).
      schema:
        type: string
  responses:
    402PaymentRequired:
      description: You must enter payment information to perform this request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    403Forbidden:
      description: You do not have permissions for the requested resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    429RateLimit:
      description: Rate limit has been surpassed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    500InternalServerError:
      description: An unexpected server error has occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    404NotFound:
      description: Unable to find the requested resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    409Conflict:
      description: The current state of the resource conflicts with this request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    401Unauthorized:
      description: Authorization information is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    406NotAcceptable:
      description: Unable to generate preferred media types as specified by Accept request header.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    503ServiceUnavailable:
      description: Server currently unavailable.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    400BadRequest:
      description: The request could not be understood by the server.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    410Gone:
      description: The requested resource is no longer available.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
  schemas:
    registryCredential:
      type: object
      required:
      - id
      - name
      - username
      - registry
      - updatedAt
      properties:
        id:
          type: string
          description: Unique identifier for this credential
        name:
          type: string
          description: Descriptive name for this credential
        registry:
          $ref: '#/components/schemas/registryCredentialRegistry'
        username:
          type: string
          description: The username associated with the credential
        updatedAt:
          type: string
          format: date-time
          description: Last updated time for the credential
    registryCredentialRegistry:
      type: string
      enum:
      - GITHUB
      - GITLAB
      - DOCKER
      - GOOGLE_ARTIFACT
      - AWS_ECR
      description: The registry to use this credential with
    error:
      type: object
      properties:
        id:
          type: string
        message:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
x-readme:
  metrics-enabled: false
