openapi: 3.0.2
info:
  title: Render Public Audit Logs Key Value API
  description: Manage everything about your Render services
  version: 1.0.0
  contact:
    name: Render API
    url: https://community.render.com
    email: support@render.com
servers:
- url: https://api.render.com/v1
security:
- BearerAuth: []
tags:
- name: Key Value
  description: '[Key Value](https://render.com/docs/key-value) allows you to interact with your Render Key Value instances.

    '
paths:
  /key-value:
    get:
      tags:
      - Key Value
      summary: List Key Value instances
      description: 'List Key Value instances matching the provided filters. If no filters are provided, all Key Value instances are returned.

        '
      operationId: list-key-value
      parameters:
      - $ref: '#/components/parameters/nameParam'
      - $ref: '#/components/parameters/regionParam'
      - $ref: '#/components/parameters/createdBeforeParam'
      - $ref: '#/components/parameters/createdAfterParam'
      - $ref: '#/components/parameters/updatedBeforeParam'
      - $ref: '#/components/parameters/updatedAfterParam'
      - $ref: '#/components/parameters/ownerIdParam'
      - $ref: '#/components/parameters/environmentIdParam'
      - $ref: '#/components/parameters/cursorParam'
      - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/keyValueWithCursor'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '409':
          $ref: '#/components/responses/409Conflict'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    post:
      tags:
      - Key Value
      summary: Create Key Value instance
      description: 'Create a new Key Value instance.

        '
      operationId: create-key-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/keyValuePOSTInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/keyValueDetail'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /key-value/{keyValueId}:
    get:
      tags:
      - Key Value
      summary: Retrieve Key Value instance
      description: 'Retrieve a Key Value instance by ID.

        '
      operationId: retrieve-key-value
      parameters:
      - in: path
        name: keyValueId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/keyValueDetail'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    patch:
      tags:
      - Key Value
      summary: Update Key Value instance
      description: 'Update a Key Value instance by ID.

        '
      operationId: update-key-value
      parameters:
      - in: path
        name: keyValueId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/keyValuePATCHInput'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/keyValueDetail'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '409':
          $ref: '#/components/responses/409Conflict'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    delete:
      tags:
      - Key Value
      summary: Delete Key Value instance
      description: 'Delete a Key Value instance by ID.

        '
      operationId: delete-key-value
      parameters:
      - in: path
        name: keyValueId
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Key Value instance deleted
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /key-value/{keyValueId}/connection-info:
    get:
      tags:
      - Key Value
      summary: Retrieve Key Value connection info
      description: 'Retrieve connection info for a Key Value instance by ID. Connection info includes sensitive information.

        '
      operationId: retrieve-key-value-connection-info
      parameters:
      - in: path
        name: keyValueId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/keyValueConnectionInfo'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /key-value/{keyValueId}/suspend:
    parameters:
    - in: path
      name: keyValueId
      required: true
      schema:
        type: string
    post:
      summary: Suspend Key Value instance
      description: 'Suspend a Key Value instance by ID.

        '
      operationId: suspend-key-value
      tags:
      - Key Value
      responses:
        '202':
          description: Service suspended successfully
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /key-value/{keyValueId}/resume:
    parameters:
    - in: path
      name: keyValueId
      required: true
      schema:
        type: string
    post:
      summary: Resume Key Value instance
      description: 'Resume a Key Value instance by ID.

        '
      operationId: resume-key-value
      tags:
      - Key Value
      responses:
        '202':
          description: Service resumed successfully
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '406':
          $ref: '#/components/responses/406NotAcceptable'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429RateLimit'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
components:
  responses:
    429RateLimit:
      description: Rate limit has been surpassed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    409Conflict:
      description: The current state of the resource conflicts with this request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    503ServiceUnavailable:
      description: Server currently unavailable.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    403Forbidden:
      description: You do not have permissions for the requested resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    500InternalServerError:
      description: An unexpected server error has occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    404NotFound:
      description: Unable to find the requested resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    406NotAcceptable:
      description: Unable to generate preferred media types as specified by Accept request header.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    400BadRequest:
      description: The request could not be understood by the server.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    401Unauthorized:
      description: Authorization information is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    410Gone:
      description: The requested resource is no longer available.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
  schemas:
    databaseStatus:
      type: string
      enum:
      - creating
      - available
      - unavailable
      - config_restart
      - suspended
      - maintenance_scheduled
      - maintenance_in_progress
      - recovery_failed
      - recovery_in_progress
      - unknown
      - updating_instance
    keyValueWithCursor:
      type: object
      required:
      - keyValue
      - cursor
      properties:
        keyValue:
          $ref: '#/components/schemas/keyValue'
        cursor:
          $ref: '#/components/schemas/cursor'
    maxmemoryPolicy:
      type: string
      description: The eviction policy for the Key Value instance
      enum:
      - noeviction
      - allkeys_lfu
      - allkeys_lru
      - allkeys_random
      - volatile_lfu
      - volatile_lru
      - volatile_random
      - volatile_ttl
    owner:
      type: object
      required:
      - id
      - name
      - email
      - type
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
        ipAllowList:
          type: array
          items:
            $ref: '#/components/schemas/cidrBlockAndDescription'
        twoFactorAuthEnabled:
          type: boolean
          description: Whether two-factor authentication is enabled for the owner. Only present if `type` is `user`.
        type:
          type: string
          enum:
          - user
          - team
    cursor:
      type: string
    redisDetail:
      type: object
      description: A Redis instance
      required:
      - id
      - createdAt
      - updatedAt
      - status
      - region
      - plan
      - name
      - owner
      - options
      - ipAllowList
      - version
      properties:
        id:
          description: The ID of the Redis instance
          type: string
        createdAt:
          description: The creation time of the Redis instance
          type: string
          format: date-time
        updatedAt:
          description: The last updated time of the Redis instance
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/databaseStatus'
        region:
          $ref: '#/components/schemas/region'
        plan:
          $ref: '#/components/schemas/redisPlan'
        name:
          description: The name of the Redis instance
          type: string
        owner:
          $ref: '#/components/schemas/owner'
        options:
          $ref: '#/components/schemas/redisOptions'
        ipAllowList:
          description: The IP allow list for the Redis instance
          type: array
          items:
            $ref: '#/components/schemas/cidrBlockAndDescription'
        environmentId:
          description: The ID of the environment the Redis instance is associated with
          type: string
        version:
          description: The version of Redis
          type: string
        maintenance:
          type: object
          required:
          - id
          - type
          - scheduledAt
          - state
          properties:
            id:
              $ref: '#/paths/~1maintenance~1%7BmaintenanceRunParam%7D/get/parameters/0/schema'
            type:
              type: string
            scheduledAt:
              type: string
              format: date-time
            pendingMaintenanceBy:
              type: string
              format: date-time
              description: If present, the maintenance run cannot be scheduled for later than this date-time.
            state:
              $ref: '#/paths/~1maintenance/get/parameters/2/schema/items'
    cidrBlockAndDescription:
      type: object
      required:
      - cidrBlock
      - description
      properties:
        cidrBlock:
          type: string
        description:
          description: User-provided description of the CIDR block
          type: string
    keyValue:
      type: object
      description: A Key Value instance
      required:
      - id
      - createdAt
      - updatedAt
      - status
      - region
      - plan
      - name
      - owner
      - options
      - ipAllowList
      - version
      - dashboardUrl
      properties:
        id:
          description: The ID of the Key Value instance
          type: string
        createdAt:
          description: The creation time of the Key Value instance
          type: string
          format: date-time
        updatedAt:
          description: The last updated time of the Key Value instance
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/databaseStatus'
        region:
          $ref: '#/components/schemas/region'
        plan:
          $ref: '#/components/schemas/keyValuePlan'
        name:
          description: The name of the Key Value instance
          type: string
        owner:
          $ref: '#/components/schemas/owner'
        options:
          $ref: '#/components/schemas/keyValueOptions'
        ipAllowList:
          description: The IP allow list for the Key Value instance
          type: array
          items:
            $ref: '#/components/schemas/cidrBlockAndDescription'
        environmentId:
          description: The ID of the environment the Key Value instance is associated with
          type: string
        version:
          description: The version of Key Value
          type: string
        dashboardUrl:
          type: string
          description: The URL to view the Key Value instance in the Render Dashboard
    keyValueOptions:
      description: Options for a Key Value instance
      type: object
      properties:
        maxmemoryPolicy:
          type: string
    region:
      type: string
      enum:
      - frankfurt
      - oregon
      - ohio
      - singapore
      - virginia
      default: oregon
      description: Defaults to "oregon"
    keyValuePlan:
      type: string
      enum:
      - free
      - starter
      - standard
      - pro
      - pro_plus
      - custom
    error:
      type: object
      properties:
        id:
          type: string
        message:
          type: string
    keyValueConnectionInfo:
      type: object
      description: A Key Value instance
      required:
      - internalConnectionString
      - externalConnectionString
      - cliCommand
      properties:
        internalConnectionString:
          description: The connection string to use from within Render
          type: string
        externalConnectionString:
          description: The connection string to use from outside Render
          type: string
          format: password
        cliCommand:
          description: The CLI (redis-cli or valkey-cli) command to connect to the Key Value instance
          type: string
          format: password
    keyValuePOSTInput:
      type: object
      description: Input type for creating a Key Value instance
      required:
      - name
      - ownerId
      - plan
      properties:
        name:
          type: string
          description: The name of the Key Value instance
        ownerId:
          type: string
          description: The ID of the owner of the Key Value instance
        plan:
          $ref: '#/components/schemas/keyValuePlan'
        region:
          type: string
          description: The region where the Key Value instance is located
        environmentId:
          type: string
        maxmemoryPolicy:
          $ref: '#/components/schemas/maxmemoryPolicy'
        ipAllowList:
          type: array
          items:
            $ref: '#/components/schemas/cidrBlockAndDescription'
    keyValuePATCHInput:
      type: object
      description: Input type for updating a Key Value instance
      properties:
        name:
          type: string
          description: The name of the Key Value instance
        plan:
          $ref: '#/components/schemas/keyValuePlan'
        maxmemoryPolicy:
          $ref: '#/components/schemas/maxmemoryPolicy'
        ipAllowList:
          type: array
          items:
            $ref: '#/components/schemas/cidrBlockAndDescription'
    keyValueDetail:
      type: object
      description: A Key Value instance
      required:
      - id
      - createdAt
      - updatedAt
      - status
      - region
      - plan
      - name
      - owner
      - options
      - ipAllowList
      - version
      properties:
        id:
          description: The ID of the Key Value instance
          type: string
        createdAt:
          description: The creation time of the Key Value instance
          type: string
          format: date-time
        updatedAt:
          description: The last updated time of the Key Value instance
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/databaseStatus'
        region:
          $ref: '#/components/schemas/region'
        plan:
          $ref: '#/components/schemas/keyValuePlan'
        name:
          description: The name of the Key Value instance
          type: string
        owner:
          $ref: '#/components/schemas/owner'
        options:
          $ref: '#/components/schemas/keyValueOptions'
        ipAllowList:
          description: The IP allow list for the Key Value instance
          type: array
          items:
            $ref: '#/components/schemas/cidrBlockAndDescription'
        environmentId:
          description: The ID of the environment the Key Value instance is associated with
          type: string
        version:
          description: The version of Key Value
          type: string
        maintenance:
          $ref: '#/components/schemas/redisDetail/properties/maintenance'
  parameters:
    cursorParam:
      name: cursor
      in: query
      required: false
      description: The position in the result list to start from when fetching paginated results. For details, see [Pagination](https://api-docs.render.com/reference/pagination).
      schema:
        type: string
    regionParam:
      name: region
      in: query
      schema:
        type: array
        items:
          $ref: '#/components/schemas/region'
      style: form
      explode: false
      required: false
      description: Filter by resource region
    createdBeforeParam:
      name: createdBefore
      in: query
      schema:
        type: string
        format: date-time
      required: false
      description: Filter for resources created before a certain time (specified as an ISO 8601 timestamp)
      example: '2021-06-17T08:15:30Z'
    updatedAfterParam:
      name: updatedAfter
      in: query
      schema:
        type: string
        format: date-time
      required: false
      description: Filter for resources updated after a certain time (specified as an ISO 8601 timestamp)
      example: '2021-06-17T08:15:30Z'
    ownerIdParam:
      name: ownerId
      in: query
      description: The ID of the workspaces to return resources for
      schema:
        type: array
        items:
          type: string
      style: form
      explode: false
      required: false
    environmentIdParam:
      name: environmentId
      in: query
      schema:
        type: array
        items:
          type: string
      style: form
      explode: false
      required: false
      description: Filter for resources that belong to an environment
    limitParam:
      name: limit
      in: query
      required: false
      description: The maximum number of items to return. For details, see [Pagination](https://api-docs.render.com/reference/pagination).
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
        description: Defaults to 20
    updatedBeforeParam:
      name: updatedBefore
      in: query
      schema:
        type: string
        format: date-time
      required: false
      description: Filter for resources updated before a certain time (specified as an ISO 8601 timestamp)
      example: '2021-06-17T08:15:30Z'
    nameParam:
      name: name
      in: query
      schema:
        type: array
        items:
          type: string
      style: form
      explode: false
      required: false
      description: Filter by name
    createdAfterParam:
      name: createdAfter
      in: query
      schema:
        type: string
        format: date-time
      required: false
      description: Filter for resources created after a certain time (specified as an ISO 8601 timestamp)
      example: '2021-02-17T08:15:30Z'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
x-readme:
  metrics-enabled: false
